server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        enabled: true
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: match-service-route
          uri: lb://match-microservice
          predicates:
            - Path=/api/matches/**


        - id: team-service-route
          uri: lb://team-service
          predicates:
            - Path=/api/teams/**


        - id: prediction-service-route
          uri: lb://prediction-service
          predicates:
            - Path=/api/predictions/**
